@charset 'utf-8';

* {
    margin:0;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

.wrap {
    width:980px;
    margin:0 auto;
}

ul {
    list-style:none;
}

ul:after {
    display:block;
    clear:both;
    content:"";
}

ul li {
    float:left;
    margin-left:20px;
    font-size:18px;
}

header {
    position: relative;
    height:78px;
}

ul {
    position: absolute;
    right:0;
    top:30px;
}

.slider a {
    display : block;
    width : 100%;
    height : 600px;
    background-image: url(../images/slider1.png);
    background-size: cover;
    background-position : center;
}



